<%= stylesheet_link_tag "cadastro.css" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <body>
    <div class="container-cadastro">
        <div class="content-box">
            <div class="form-box">
                <h2>Cadastro</h2>
                <form>
                    <div class="input-box">
                        <span>E-mail</span>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Digite seu email" %>
                    </div>

                    <div class="input-box">
                        <span>Senha</span>
                           <% if @minimum_password_length %>
                              <em>(Minimo <%= @minimum_password_length %> caracteres)</em>
                          <% end %><br />
                     <%= f.password_field :password, autocomplete: "new-password", placeholder: "Digite sua senha" %>
                    </div>

                    <div class="input-box">
                        <span>Confirme sua senha</span>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirme a senha" %>
                    </div>

                    <div class="input-box">
                        <%= f.submit "Registrar" %>
                    </div>

                     <div class="input-box">
                       <p>Já possui cadastro? <a href="/users/sign_in">Entrar</a></p>
                    </div>

                    <div class="input-box">
                       <%= render "devise/shared/error_messages", resource: resource %>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<% end %>
