<head>
    <style>
    * {
    font-family: Arial, Helvetica, sans-serif;
}
.container-winner {
    background: url(https://www.transparentpng.com/thumb/fireworks/VDWzWD--straight-lined-png-yellow-blue-red-fireworks.png) no-repeat center center;
    background-size: 100vh 100vh;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

    .container-global {
        text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    }
    
  .title h1 {
    color: #32324f;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  }

  .title p {
    color: #999;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  }

  .titleText {
    margin-top: 20px;
    text-align: center;
  }

  .select {
    margin-top: 20px;
  }

  .select label {
  }

  .container-global button {
    margin-top: 20px;
    background: #32324f;
    height: 6vh;
    width: 200px;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 10px;
}

.container-global button:hover {
    background: #3286ca;
}

.versus {
    margin: 20px;
    width: 150px;
    height: 150px;
}

.winnerImg {
    border-radius: 20px;
    width: 500px;
    height: 500px;
}

.containerWinner {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    background: #32324f;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100vh; 
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

}


.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow-y: auto;
  max-height: 80vh;
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.openModal {
    margin-top: 20px;
    background: #369e35;
    height: 7vh;
    width: 100%;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}
    </style>

    
</head>


<% if @bagmon1 && @bagmon2 %>
    <div class="container-winner">
    <div class="title"> 
        <div class="titleText">
             
        </div>
            <img class='winnerImg' src=<%= @winnerImg %> />
            <h1 style='margin-top: 20px; color: #000 '>Vencedor</h1>
            <div class='containerWinner'>
            <h2 class='titleWinnerName' style='color: #fff;'><%= @winnerName %></h2>
            </div>
        </div>
    </div>

    <button id="myBtn" class="openModal">Ver histórico da batalha</button>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
            <% @rounds.each do |round| %>
            <p style='margin: 5px'><%= round %></p>
        <% end %>
  </div>

</div>

<script>

var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
  document.querySelector("body").style.overflow = 'hidden';
}

span.onclick = function() {
  modal.style.display = "none";
  document.querySelector("body").style.overflow = 'auto';
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>




<% else %>

  <div class="title"> 
    <div class="titleText">
        <h1>Batalha</h1>
        <p>Escolha dois Bagmons para batalhar!</p>
    </div>
<div class="container-global">
    <form action="/battle">
        <div class="select">
            <div>
                <label for="bagmon1" style='font-weight: bold; margin-right: 10px'>Bagmon 01</label>
                <select id="bagmon1" required  name="bagmon1">
                    <option selected disabled>Selecione...</option>
                    <% @bagmons.each do |bagmon| %>
                        <option value="<%= bagmon.id %>"><%= bagmon.name %></option>
                    <% end %>
                </select>
            </div>

            <img class="versus" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2ec970f4-1706-4915-9a93-41f3d9c8202c/dehetv9-efad5ead-a1c7-4ef7-94d4-0c758e7eddb9.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJlYzk3MGY0LTE3MDYtNDkxNS05YTkzLTQxZjNkOWM4MjAyY1wvZGVoZXR2OS1lZmFkNWVhZC1hMWM3LTRlZjctOTRkNC0wYzc1OGU3ZWRkYjkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0QmcHDQ3cnXw7IEIRDrSGpOCb2657FSs0bOQWL0XM34" />

            <div>
                <label for="bagmon2" style='font-weight: bold; margin-right: 10px'>Bagmon 02</label>
                <select id="bagmon2" required name="bagmon2">
                    <option selected disabled>Selecione...</option>
                    <% @bagmons.each do |bagmon| %>
                        <option value="<%= bagmon.id %>"><%= bagmon.name %></option>
                    <% end %>
                </select>
            </div>
        </div>
        <button>Batalhar</button>
    </form>
    </div class="container-global">
<% end %>